<h1 class = ms-5>Stupid Coaching</h1>

  <div class = "ms-5 border-start border-5 px-2">
    <%=@question %>
    <p><em>-You!</em></p>
  </div>

  <div class = "col-4 ms-5 border-start border-5 bg-warning px-2">
    <%=@answer%>
    <p><em>-Your Stupid Coach!</em></p>
  </div>
<p class = "ms-5"> <%=link_to "Ask a new question", ask_path, class:"text-decoration-none btn btn-primary"%></p>
