<h1 class = "m-5">Our first view, Our first Form ! 🚀</h1>
<p class = "ms-5">Ask your Coach anything!</p>

<div class = "ms-5">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" class = "col-6">
    <input type="submit" value="Ask!" class = "btn-primary rounded-pill">

  </form>
</div>
